:root {
  --c: 30;/*you can change paper size by changing --c*/
  --u: 1%;/*you can change --u to use another css unit (px,%,vw...)*/
  --s: calc(var(--c) * var(--u));/*paper size*/
  
  --c-1: rgba(102, 51, 153, .7);/*paper color*/
  --c-t: rgba(0, 0, 0, 0), transparent;/*don't change this*/
  --perspective: 500px;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23c7692c' fill-opacity='0.42'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.frame {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: var(--perspective);
}

.t-z-l div, .t-z-l div::after, .t-z-l div::before {
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
  background-repeat: no-repeat;
}

.p-c {
  width: 100%;
  height: 100%;
}

.p-b {
  width: 25%;
  height: 100%;
}

.p-w {
  width: 100%;
  height: 100%;
  bottom: 0;
}

/*left*/
.b-l {
  left: 25%;
  background-size: 100% 75%, 100% 25%;
  background-position: 0% 100%, 0% 0%;
  background-image: linear-gradient(to bottom, var(--c-1) 0%, var(--c-1) 100%), linear-gradient(-45deg, var(--c-1) 0%, var(--c-1) 50%, var(--c-t) 50%, var(--c-t) 100%);
  transform-origin: right;
}

.b-l::after {
  content: '';
  width: 100%;
  height: 25%;
  background-position: 0% 0%;
  background-size: 100% 100%;
  background-image: linear-gradient(135deg, var(--c-1) 0%, var(--c-1) 50%, var(--c-t) 50%, var(--c-t) 100%);
  transform-origin: center;
  transition-delay: 1s !important;
}

.b-l::before {
  content: '';
  width: 100%;
  height: 25%;
  left: -100%;
  background-size: 100% 100%;
  background-position: 0% 0%;
  background-image: linear-gradient(to bottom, var(--c-1) 0%, var(--c-1) 100%);
  transform-origin: bottom right;
  transition-delay: 1s !important;
}

.l-w {
  left: -100%;
  background-size: 100% 25%, 100% 50%;
  background-position: 0% 33.333%, 0% 100%;
  background-image: linear-gradient(-45deg, var(--c-1) 0%, var(--c-1) 50%, var(--c-t) 50%, var(--c-t) 100%), linear-gradient(to bottom, var(--c-1) 0%, var(--c-1) 100%);
  transform-origin: right;
  transition-delay: 1s;
}

.l-w::after {
  content: '';
  width: 100%;
  height: 25%;
  top: 25%;
  left: 0%;
  background-size: 100% 100%;
  background-position: 0% 0%;
  background-image: linear-gradient(135deg, var(--c-1) 0%, var(--c-1) 50%, var(--c-t) 50%, var(--c-t) 100%);
  transform-origin: center;
  transition-delay: 1s !important;
}


/*right*/
.b-r {
  right: 25%;
  background-size: 100% 75%, 100% 25%;
  background-position: 0% 100%, 0% 0%;
  background-image: linear-gradient(to bottom, var(--c-1) 0%, var(--c-1) 100%), linear-gradient(45deg, var(--c-1) 0%, var(--c-1) 50%, var(--c-t) 50%, var(--c-t) 100%);
  transform-origin: left;
}

.b-r::after {
  content: '';
  width: 100%;
  height: 25%;
  background-position: 0% 0%;
  background-size: 100% 100%;
  background-image: linear-gradient(-135deg, var(--c-1) 0%, var(--c-1) 50%, var(--c-t) 50%, var(--c-t) 100%);
  transform-origin: center;
  transition-delay: 1s !important;
}

.b-r::before {
  content: '';
  width: 100%;
  height: 25%;
  right: -100%;
  background-size: 100% 100%;
  background-position: 0% 0%;
  background-image: linear-gradient(to bottom, var(--c-1) 0%, var(--c-1) 100%);
  transform-origin: bottom left;
  transition-delay: 1s !important;
}

.r-w {
  right: -100%;
  background-size: 100% 25%, 100% 50%;
  background-position: 0% 33.333%, 0% 100%;
  background-image: linear-gradient(45deg, var(--c-1) 0%, var(--c-1) 50%, var(--c-t) 50%, var(--c-t) 100%), linear-gradient(to bottom, var(--c-1) 0%, var(--c-1) 100%);
  transform-origin: left;
  transition-delay: 0s !important;
}

.r-w::after {
  content: '';
  width: 100%;
  height: 25%;
  top: 25%;
  left: 0%;
  background-size: 100% 100%;
  background-position: 0% 0%;
  background-image: linear-gradient(-135deg, var(--c-1) 0%, var(--c-1) 50%, var(--c-t) 50%, var(--c-t) 100%);
  transform-origin: center;
  transition-delay: 1s !important;
}

/*a*/
#f-p-i:checked ~ .frame > .group > .t-x-r > .t-x-l > .t-y-r > .t-y-l > .t-z-r > .t-z-l > .p-c > .b-l::after,
#f-p-i:checked ~ .frame > .group > .t-x-r > .t-x-l > .t-y-r > .t-y-l > .t-z-r > .t-z-l > .p-c > .b-l::before,
#f-p-i:checked ~ .frame > .group > .t-x-r > .t-x-l > .t-y-r > .t-y-l > .t-z-r > .t-z-l > .p-c > .b-l > .l-w::after {
  transform: rotate3d(-1, 1, 0, 180deg);
  transition-delay: 0s !important;
}

#f-p-i:checked ~ .frame > .group > .t-x-r > .t-x-l > .t-y-r > .t-y-l > .t-z-r > .t-z-l > .p-c > .b-r::after,
#f-p-i:checked ~ .frame > .group > .t-x-r > .t-x-l > .t-y-r > .t-y-l > .t-z-r > .t-z-l > .p-c > .b-r::before,
#f-p-i:checked ~ .frame > .group > .t-x-r > .t-x-l > .t-y-r > .t-y-l > .t-z-r > .t-z-l > .p-c > .b-r > .r-w::after {
  transform: rotate3d(1, 1, 0, -180deg);
  transition-delay: 0s !important;
}

#f-p-i:checked ~ .frame > .group > .t-x-r > .t-x-l > .t-y-r > .t-y-l > .t-z-r > .t-z-l > .p-c > .b-l > .l-w {
  transform: rotateY(-80deg);
  transition-delay: 1s !important;
}

#f-p-i:checked ~ .frame > .group > .t-x-r > .t-x-l > .t-y-r > .t-y-l > .t-z-r > .t-z-l > .p-c > .b-r > .r-w {
  transform: rotateY(80deg);
  transition-delay: 1s !important;
}

#f-p-i:checked ~ .frame > .group > .t-x-r > .t-x-l > .t-y-r > .t-y-l > .t-z-r > .t-z-l > .p-c > .b-l {
  transform: rotateY(80deg);
  transition-delay: 1s !important;
}

#f-p-i:checked ~ .frame > .group > .t-x-r > .t-x-l > .t-y-r > .t-y-l > .t-z-r > .t-z-l > .p-c > .b-r {
  transform: rotateY(-80deg);
  transition-delay: 1s !important;
}



#f-p-i {
  display: none;
}


/*c*/



/* controlls */

.left-c {
  position: absolute;
  bottom: 10px;
  box-shadow: 0 0 0 2px #ccc;
  z-index: 999999;
}

.frame > i:hover, .left-c > label:hover {
  background-color: #ddd;
}
.frame > i:active, .left-c > label:active {
  background-color: #555;
}

.frame > i {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  box-shadow: 0 0 0 2px #ccc;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  color: #fff;
}

.fa-undo {
  bottom: 190px;
  right: 100px;
}

.fa-redo {
  bottom: 190px;
  right: 10px;
}

.fa-arrow-up {
  bottom: 140px;
  right: 55px;
}

.fa-arrow-right {
  bottom: 100px;
  right: 10px;
}
.fa-arrow-left {
  bottom: 100px;
  right: 100px;
}
.fa-arrow-down {
  bottom: 60px;
  right: 55px;
}

.f-p {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  box-shadow: 0 0 0 2px #ccc;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  color: #fff;
}

.f-p {
  bottom: 80px;
  left: 10px;
}


/**/

/*plane*/

.group {
  position: absolute;
  width: var(--s);
  height: 0;
  padding-bottom: var(--s);
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%);
}

.group div[class*=t-] {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: none;
}

.t-x-r { animation: 4s linear infinite reverse paused t-x-a;}
.t-x-l { -webkit-animation: 4s linear infinite paused t-x-a; animation: 4s linear infinite paused t-x-a;}
.t-y-r { -webkit-animation: 4s linear infinite paused t-y-a; animation: 4s linear infinite paused t-y-a;}
.t-y-l { animation: 4s linear infinite reverse paused t-y-a;}
.t-z-r { animation: 4s linear infinite reverse paused t-z-a;}
.t-z-l { -webkit-animation: 4s linear infinite paused t-z-a; animation: 4s linear infinite paused t-z-a;}

/*active*/
.fa-undo:active ~ .group > .t-x-r > .t-x-l > .t-y-r > .t-y-l > .t-z-r { -webkit-animation-play-state: running; animation-play-state: running;}
.fa-redo:active ~ .group > .t-x-r > .t-x-l > .t-y-r > .t-y-l > .t-z-r > .t-z-l { -webkit-animation-play-state: running; animation-play-state: running;}
.fa-arrow-down:active ~ .group > .t-x-r { -webkit-animation-play-state: running; animation-play-state: running;}
.fa-arrow-up:active ~ .group > .t-x-r > .t-x-l { -webkit-animation-play-state: running; animation-play-state: running;}
.fa-arrow-right:active ~ .group > .t-x-r > .t-x-l > .t-y-r { -webkit-animation-play-state: running; animation-play-state: running;}
.fa-arrow-left:active ~ .group > .t-x-r > .t-x-l > .t-y-r > .t-y-l { -webkit-animation-play-state: running; animation-play-state: running;}

/*checked*/



/*active k*/
@-webkit-keyframes t-x-a{
  0% {  transform: rotateX(0deg);}
  100% {  transform: rotateX(360deg);}
}
@keyframes t-x-a{
  0% {  transform: rotateX(0deg);}
  100% {  transform: rotateX(360deg);}
}
@-webkit-keyframes t-y-a{
  0% {  transform: rotateY(0deg);}
  100% {  transform: rotateY(360deg);}
}
@keyframes t-y-a{
  0% {  transform: rotateY(0deg);}
  100% {  transform: rotateY(360deg);}
}
@-webkit-keyframes t-z-a{
  0% {  transform: rotateZ(0deg);}
  100% {  transform: rotateZ(360deg);}
}
@keyframes t-z-a{
  0% {  transform: rotateZ(0deg);}
  100% {  transform: rotateZ(360deg);}
}

/*
.p-c, .p-c div, .p-c div::before, .p-c div::after {
  box-shadow: 0 0 0 2px !important;
}
*/